* {
	box-sizing: border-box;
	margin: 0;
}
 html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
a {
	text-decoration: none;
}
textarea:focus {
	outline: 0;
}
.cover {
	height: 100%;
	width: 100%;
}
input:focus {
	outline: 0;
}
html,body {
	height: 100%;
	width: 100%;
	background-color: #eee;
}
.fg {
	float: right;
}
.fl {
	float: left;
}
.underline {
	text-decoration: underline;
}
.strong {
	font-weight: bold;
}
.red {
	color: #FF0004;
}
.hide {
	display: none;
}
.show {
	display: inline;
}
.center {
	text-align: center;
}